<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>My Application</span>
  </mat-toolbar-row>
  <mat-toolbar-row>
      <button mat-button [routerLink]="['/recipes']">
        <span>Accueil</span>
      </button>
      <button mat-button [routerLink]="['/recipes/add']">
        <span>Ajouter une recette</span>
      </button>
      <button mat-button [routerLink]="['/recipes/reactiveAdd']">
        <span>Ajouter une recette reactive </span>
      </button>
  </mat-toolbar-row>
</mat-toolbar>