<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{recipe.name}}</mat-card-title>
  </mat-card-header>
  <img mat-card-image [src]="recipe.picture" [alt]="recipe.picture">
  <mat-card-content>
    <p>
      {{recipe.description}}
    </p>
    <ul>
      <div *ngIf="panelOpenState">
        <li *ngFor="let current of recipe.ingredients">

          {{current.ingredient.name}} {{current.quantity}} {{current.unit}}
        </li>
      </div>
    </ul>
  </mat-card-content>
  <mat-card-actions>
    <button *ngIf="panelOpenState" mat-button (click)="toggleExpand()">
      cacher ingredients
    </button>
    <button *ngIf="!panelOpenState" mat-button (click)="toggleExpand()">
      Afficher ingredients
    </button>
    <button [routerLink]="['/recipes', recipe.id]">
      <span>voir en détails</span>
    </button>
    <button [routerLink]="['/recipes']" mat-button (click)="deleteRecipe()">
      <span>Supprimer</span>
    </button>
  </mat-card-actions>
</mat-card>